*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteudo
{
 

background: linear-gradient(to right, #4c0101, #b22222);
    /*vermelho degradê opcional */
    color: rgb(207, 166, 18);
    text-align: center;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}
body
{
    
 background-color: #e79609;
 /* cor de fundo */
 
}

p
{
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
}
h1
{
    color: rgb(19, 19, 157);
    font-size: 40px;
    text-align: center;
}

h1{
    color: rgb(235, 224, 224);
}
#menusite
ul
{
    list-style: none;
    padding: 0;
    margin: 0;
display: flex;
justify-content: center;
gap: 20px; /* Espaçamento entre os itens */

}
ul li 
{
    display: inline-block; /* coloca os <li> na horizontal */
    margin-right: 15px; /* espaço entre os itens */
    font-size: 20px;
    cursor: pointer;

    border: none;
    padding: 20px 40px;
    
}
button
{
    font-size: 20px;/* tamanho da letra */
    cursor: pointer;
color: white;
background-color: rgb(244, 8, 8);
    border-radius: 10px;
    padding: 20px 60px; /* tamanho do botão */

    
}

        #menudosite
        li
        {
            margin: 0;
        }
        #menudosite 
        a
        {
            text-decoration: none;
            color: purple;
            font-size: 18px;
            padding: 10px 15px;
        }
.caixa
{
    width: 250px;
    height: 400px;
    margin: 50px;
    float: left;
    overflow: hidden
    ;
    border: 1px solid;
    background-color: black;
    text-align: center; /* centraliza a imagem */
    border-radius: 10px; /*cantos arredondados*/
    margin: 20px ;
}
.imagem1
{
    transition: all 1s;
    cursor: pointer;
    width: 200px;
    height: auto;
    border: 10px solid transparent;
}
.imagem1:hover
{
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    border: 10px solid red;
    border-radius: 50%;
}
.imagem2
{
    transition: 0.5s;
    cursor: pointer;
    width: 250px;
    height: auto;
}
.imagem2:hover
{
    
    -webkit-filter: drop-shadow(15px 10px 5px rgba(255,0,0,1));
    filter: drop-shadow(15px 10px 5px rgba(255,0,0,1));
}
.imagem3
{
    transition: all 0.5s;
    cursor: pointer;
    width: 250px;
    height: auto;
}
.imagem3:hover
{
     -webkit-transform: scale(1.5);
     transform: scale(1.5);
      border: 10px solid red;
    border-radius: 50%;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(255,0,0,1));
    filter: d
}
